/* v 1.0 */
:root {
  --body-bg: var(--body-bg-light);
  --body-bg-light: #e1e3e4;
  --body-bg-dark: #121212;

  --card-bg: var(--card-bg-light);
  --card-bg-light: #f4f4f4;
  --card-bg-dark: #1e1e1e;
  --special-text-light: #3bb4b0;
  --special-text-dark:#2d6d6b;
  --text-color: var(--text-color-light);
  --text-color-light: #000000;
  --text-color-dark: #e0e0e0;
}

@media (prefers-color-scheme: dark) {

  /* Your dark theme styles go here */
  body {
    --body-bg: var(--body-bg-dark);
    --card-bg: var(--card-bg-dark);
    --text-color: var(--text-color-dark);
    --special-text: var(--special-text-dark);
  }
}


@media (prefers-color-scheme: light) {

  /* Your dark theme styles go here */
  body {
    --body-bg: var(--body-bg-light);
    --card-bg: var(--card-bg-light);
    --text-color: var(--text-color-light);
    --special-text: var(--special-text-light);
  }
}




body.dark-theme {
  --body-bg: var(--body-bg-dark);
  --card-bg: var(--card-bg-dark);
  --text-color: var(--text-color-dark);
  --special-text: var(--special-text-dark);
}

body.light-theme {
  --body-bg: var(--body-bg-light);
  --card-bg: var(--card-bg-light);
  --text-color: var(--text-color-light);
  --special-text: var(--special-text-light);
}