/* v 3.2 */

@media (max-width: 800px) {
  header nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background: var(--bg);
    z-index: 1;
    flex-flow: column;
    justify-content: start;
    align-items: start;
  }
  nav .logo{
    padding: 1rem;
  }
  header nav ul{
    padding: 0 !important;
    gap: 0;
  }
  nav li{
    margin: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.308);
    text-align: left;
    padding: 0;
  }
  section.static {
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    
  }

  section.static img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top;
    border-radius: 10px;
  }

  header nav ul {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  header nav li {
    padding: 6px;
  }
  main {
    padding: 2rem;
  }

  header {
    justify-content: space-between;
  }
  header span#menu-btn {
    display: block;
    position: fixed;
    top: 2rem;
    left: 2rem;
  }
  middle-row { /*in footer elemrnt*/
    display: flex;
    flex-flow: column !important;
    flex-wrap: wrap;
  }
} /*closing tag of @media*/

@media (max-width: 600px) {
  main container section.cardSec {
    display: flex;
    flex-direction: column-reverse !important; 
  }
  main container section card {
    margin: auto;
    width: 100%;
  }
  main container section card a {
    width: 100%;
  }
  main container section card img {
    border-radius: 5px;
  }

  span.auth-btn-wrapper {
    display: none;
  }

  msg-container container input{
    width: 100%;
  }
}

/*
  
  msg-container container{
    width: 100%;
    padding: 6px;
  }
  
  main container section{
    flex-flow: column-reverse;
  }
  
  loader{
    flex-flow: column;
    gap: 20px;
  }
  
  message-div loader2{
  flex-flow: column;
}

  
} */
