/* v 3.4*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.3s;
  user-select: none;
  /* border: 1px solid red; */
  font-family:"Poppins", sans-serif; /*cursive*/
}
.m-1-0{
  margin: 1rem 0;
}
body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--bg);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/*  */

a {
  color: var(--text);
  text-decoration: none;
}

a:link {
  background: none;
}

a:hover {
  background: none;
}

a:actived {
  background: none;
}

li {
  display: inline;
  margin: 0 0.6rem;
  padding: 0.2rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
span.auth-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1000px;
  font-weight: 600;
  width: fit-content;
  text-wrap: nowrap;
  cursor: pointer;
}

header {
  /* background: linear-gradient(#000000A8, #0C18309C), url('5.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--text);
  padding: 0.4rem 4rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header button.login,
header button.logout {
  background-color: var(--bg);
  color: var(--text);
}
header span button.signup {
  background-color: var(--text);
  color: var(--bg);
}
header .logo {
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

header span#menu-btn {
  display: none;
  z-index: 99;
  background-color: var(--bg);
  border-radius: 5px;
  height: 30px;
}

header span svg {
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 62;
  color: var(--text);
}

header nav ul {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 600;
  overflow: hidden;
}

header nav li {
  display: inline;
  cursor: pointer;
  padding: 0.3rem;
}
header li:hover {
  scale: 1.1;
}

header div {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.static {
  height: 70vh;
  width: 90%;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
}
section.static img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

main {
  width: 100%;
  padding: 4rem;
}

main container {
  display: flex;
  flex-flow: column;
  width: 100%;
}

main ul.section-switcher {
  border-bottom: 2px solid var(--border-dim);
  color: var(--dim);
  padding: 1rem 0;
  width: 100%;
  overflow-x: scroll;
  position: relative;
  display: flex;
}
/* main ul.section-switcher li {
  padding-bottom: 1rem;
  white-space: nowrap;
} */

main ul.section-switcher li.active:after {
  content: "";
  width: 6rem;
  height: 2px;
  background-color: var(--text);
  display: block;
  position: absolute;
  bottom: -0.01rem;
  margin-left: -1rem;
}

.section-switcher::-webkit-scrollbar {
  display: none;
}
.section-switcher {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main label#totelText {
  margin: 2rem 0;
  display: block;
}
main container loader {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  animation-timeline: view(block 130% 10%);
  animation-name: fTopRow;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear;
}

.loader {
  display: block;
  margin-bottom: 20px;
  margin: 20px;
  width: 300px;
  height: 220px;
  border-radius: 7px;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 300px 220px, 300px 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
  }
}

main container section.cardSec {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  direction: rtl;
}

main container section.cardSec card {
  /* height: 300px;
  width: 300px; */
  width: 250px;
  padding: 1rem;
  display: flex;
  flex-flow: row;
  border-radius: 10px;
  animation-timeline: view(block 120% 0%);
  animation-name: fTopRow;
  animation-fill-mode: both;
  animation-duration: 1ms;
  animation-timing-function: linear;
  background-color: var(--card-bg);
  position: relative;

  animation-timeline: view(block 90% 0%);
  animation-name: sndBtn;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear;
}

@keyframes sndBtn {
  from {
    transform: translateX(30%) translateY(30%) scale(0.5);
  }
}

/* main container section card:hover {
  box-shadow: -6px -6px 15px var(--box-shadow), 6px 6px 15px var(--box-shadow);
} */

main container section card a {
  border-radius: 10px;
  display: block;
  margin: auto;
  height: 100%;
}

main container section card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  background-position: center;
}

main container section card text-area {
  display: block;
  overflow: hidden;
  /* background: #E4E4E4; */
  margin: 3px;
  border-radius: 7px;
}

main container section card text-area h5 {
  margin: 0;
  padding: 0 0 0 0;
  color: var(--text);
  text-align: center;
  line-height: 1.5rem;
  font-size: 15px;
}

main container section card text-area label {
  color: rgb(100, 99, 99);
  margin: auto;
  line-height: 1.5rem;
}
main container section card text-area label.type {
  color: var(--special-text);
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5rem;
}

main container section card .timeLbl {
  color: var(--dim);
  float: right;
  padding: 8px;
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

iframe {
  display: none;
  min-height: 100vh;
  height: max-content;
  width: 100%;
}

#back {
  display: none;
  background: #5a5a5a21;
  padding: 6px 8px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 700px;
  height: min-content;
}

#back svg {
  display: flex;
  height: 30px;
  width: 30px;
}

card h3 {
  color: var(--text);
}

msg-container {
  margin-top: 2rem;
  padding: 20px;
  border-bottom: 2px solid #bdbdbd;
  display: block;
}

msg-container container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

msg-container container input-group {
  display: flex;
  flex-flow: column;
  padding: 20px 0;
}

msg-container container input {
  border-radius: 100px;
  padding: 6px;
  border: 5px solid #42445a57;
  outline: none;
  font-weight: bold;
  color: #42445a57;
}

msg-container container input:focus {
  transition: 0.3s;
  border: 5px solid #42445a;
  color: #42445a;
}

msg-container container button {
  height: min-content;
  background: none;
  border: none;

  /* animation-timeline: view(block 90% 0%);
  animation-name: sndBtn;
  animation-fill-mode: both;
  animation-duration: 1ms; */
  /* Firefox requires this to apply the animation */
  /* animation-timing-function: linear; */
}

/* @keyframes sndBtn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0px);
  }
} */

msg-container container button svg {
  transition: 0.2s !important;
  width: 30px;
  height: 30px;
  font-weight: bold;
  transform: rotateZ(45deg);
}

message-div {
  display: flex;
  flex-flow: row-reverse;
  flex-wrap: wrap-reverse;
  padding: 20px;
  gap: 2rem;
  justify-content: space-evenly;
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
  margin-bottom: 20px;
  border-top: 2px solid #bdbdbd;
  border-bottom: 2px solid #bdbdbd;
  box-shadow: 0 0 5px #bdbdbd inset;
  width: auto;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 3px;

  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

message-div card {
  max-width: 400px;
  width: 300px;
  background: var(--card-bg);
  padding: 8px;
  border-radius: 7px;
  box-shadow: 0 0 5px #bdbdbd;
  height: max-content;
  max-height: 200px;
  color: #797979;
  overflow: hidden;
}
message-div .user-name-box {
  display: flex;
  align-items: center;
}

message-div card h3 {
  color: #797979;
}

message-div loader2 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

message-div .loader2 {
  width: 300px;
  height: 150px;
  display: block;
  margin: auto;
  position: relative;
  background: #fff;
  box-sizing: border-box;
}

.loader2::after {
  border-radius: 7px;
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      100deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 80%
    ),
    radial-gradient(circle 28px at 28px 28px, #ddd 99%, transparent 0),
    linear-gradient(#ddd 24px, transparent 0),
    linear-gradient(#ddd 18px, transparent 0),
    linear-gradient(#ddd 66px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 130px, 55px 56px, 160px 30px, 260px 20px, 290px 56px;
  background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }

  100% {
    background-position: 150% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
}

message-div card container div {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 8px;
}

message-div card container texts {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  max-height: 150px;
  display: block;
}

message-div card container texts p {
  overflow-wrap: break-word;
  user-select: text;
}

message-div card svg {
  border-radius: 555px;
  width: 30px;
  height: 30px;
}

message-div card container p {
  color: var(--dim);
}

message-div card .timelabel {
  font-size: 10px;
  color: var(--dim);
  float: right;
}

footer {
  background: #383c4f;
  padding: 20px;
  color: white;
}

footer top-row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 10px;
  border: 3px solid #80808036;
  border-radius: 3px;

  animation-timeline: view(block 80% 5%);
  animation-name: fTopRow;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear;
}

@keyframes fTopRow {
  from {
    transform: translateY(70px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

footer top-row svg {
  width: 30px;
  height: 30px;
  color: #b1b1b1c7;
}

footer .div {
  width: 100%;
  text-align: center;
  padding: 25px;
  padding-top: 60px;
}

footer middle-row {
  display: flex;
  flex-flow: row;
  max-width: min-content;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}

footer middle-row h3 {
  border: 3px solid white;
  border-radius: 3px;
  color: white;
  padding: 6px 8px;
  margin: 16px;
}

footer .div2 {
  width: 100%;
  text-align: center;
}

.dim {
  color: var(--dim);
  font-size: 13px;
}

footer .div3 {
  font-size: 13px;
  text-align: center;
  width: 100%;
}

::placeholder {
  color: var(--placeholder);
}

alert {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

alert container card {
  background: var(--card-bg);
  display: flex;
  flex-flow: column;
  padding: 10px;
  max-width: 350px;
  align-items: center;
  gap: 8px;
  border-radius: 7px;
  width: 350px;
  max-width: 90%;
}

alert container card input {
  width: 90%;
  margin: auto;
  display: block;
  padding: 6px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #00000080;
  outline: none;
  background-color: hsla(0, 0%, 0%, 0.137);
  border-radius: 5px;
  color: var(--text);
}

alert container card input:focus {
  border: 2px solid var(--text);
  border-radius: 30px;
}

alert container card label {
  font-size: 13px;
  margin: 0 20px;
}

alert container card div {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

alert container card div button {
  width: 40%;
  border-radius: 50px;
  padding: 8px;
  border: none;
}

alert container card div #signup {
  background: #3d89c7;
  color: white;
}

/* #3D89C7{
  
} */

.name {
  animation-timeline: view(block 95% 1%);
  animation-name: name;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear;
}

@keyframes name {
  from {
    color: #117879;
  }

  to {
    color: white;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  max-width: 80%;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  right: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/* darck theme */

#themeBtn {
  cursor: pointer;
}

.hind {
  color: darkgray;
  padding-left: 20px;
}

.name {
  color: #0fb0b3 !important;
  font-weight: bold;
  cursor: pointer;
}

#commandBtn svg {
  fill: var(--text);
}

@media (max-width: 750px) {
  main container section card {
    border-radius: 5px;
  }
  main container section card a {
    display: block;
  }

  main container section card a img {
    object-position: top;
    margin: auto;
    max-width: 100%;
  }

  message-div {
    display: flex;
    flex-direction: row-reverse;
  }
  msg-container container {
    width: 100%;
  }
  message-div card {
    width: 100%;
    margin: 0;
    max-height: auto;
    height: fit-content;
    padding: 1rem;
  }
}

/* *{
 border: 1px solid red; 
} */

.addReaction {
  position: absolute;
  bottom: -1rem;
  background: var(--card-bg);
  padding: 0.2rem 0.5rem;
  height: 30px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  left: 0;
  border-radius: 1000px;
  box-shadow: 0 2px 3px rgba(66, 68, 90, 0.041);
  color: #a3a4aa;
  cursor: pointer;
  border-top: 1px solid var(--bg);
  font-size: 16px;
}
.reactions {
  width: 150px;
  background: #edeeff;
  box-shadow: 0 0 10px rgba(66, 68, 90, 0.25);
  border-radius: 1000px;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  padding: 0.5rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hidden {
  display: none !important;
}
