*{
  padding: 0;
  margin: 0;
  background: none;
  box-sizing: border-box;
  border: none;
  transition: .2s;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
:root{
  --accent:#FFAA1D;
  --error: #FF0505;
  --success: #18AE5C;
  --gray: #C8C8C8;
}
input, select{
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 1rem;
  border-radius: 200px;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
  width: 90%;
}
button{
  padding: .8rem 1.5rem;
  font-weight: 600;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 200px;
}
button a{
  color: #fff;
}
input:focus{
  border: 1px solid black;
  font-weight: 600;
}
input:valid, select:valid{
  font-weight: 600;
  border-color: var(--accent);
}
input#code{
  text-transform: uppercase;
}
body{
  background: #F4F4F4;
}
.header_wrapper{
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
}
header{
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--gray);
  display: flex;
  align-content: center;
  gap: 2rem;
}
header i{
  font-size: 20px;
}
.sub-header{
  text-align: center;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.m-0-1{
  margin: 0 1rem;
}
.sub-header span{
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .24);
  border-radius: 100px;
  padding: .5rem 1rem;
}

.sub-header .active{
  background: #FFAA1D;
  font-weight: 600;
  color: white;
}



/*List view*/

.list_view{
  padding: 1rem;
  overflow-y: auto;
  margin-top: 12rem;
}
.list{
 background: #fff;
 padding: 1rem;
 border-radius: 7px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
 margin-bottom: 1rem;
}
.list h4{
  margin-bottom: .5rem;
}
.list .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list h4.status{
  color: #FFAA1D;
  text-transform: capitalize;
  text-wrap: nowrap;
}
.list h4.status.finished{
  color: var(--success);
}
.list h4.status.failed{
  color: var(--error);
}
.list p, .date{
  font-size: 12px;
  color: #838383;
}
.button_wrapper{
  margin-top: 1rem;
}
.list button{
  padding: .5rem 1rem;
  border-radius: 20px;
  box-shadow: 0 0 5px #0000004A;
  margin-top: .5rem;
  margin-right: .5rem;
}
.list .delete_btn{
  background: var(--error);
  color: #fff;
}
.list button.call{
  background: #18AE5C;
  font-weight: 600;
  color: white;
  border: none;
}
.list button.status_btn{
  border: 1px solid rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  font-weight: 600;
}
.list button.status_btn:active{
  background: black;
  color: #fff;
}
.list .date{
  margin-top: 1rem;
}
.floating_btn{
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 45px;
  width: 45px;
  background: var(--accent);
  color: #fff;
  font-weight: 600;
  border-radius: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .10);
  font-size: 20px;
}
.floating_btn:active{
  background: rgba(216, 171, 29, 1);
}
.creation_page, .loginpage, .warning_page, .side_menu{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #F4F4F4;
  padding: 1rem;
  overflow-y: auto;
}
.creation_page h3.head_text{
  padding: 1rem 0;
  border-bottom: 1px solid #C8C8C8;
}

.creation_page .card{
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  margin-top: 2rem;
}
.creation_page button.create{
  border: none;
  background: var(--accent);
  color: #fff;
  width: 50%;
}
.creation_page button.create:active{
  background: #A0801A;
}
.creation_page button.close{
  color: rgba(0, 0, 0, 0.5);
}
.creation_page button.close:active
{
  color: #fff;
  background: black
}
.filter{
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}

.filter input#filterDate{
  border: none;
  padding: none;
  width: auto;
  margin: 0;
}
.filter span{
  color: var(--accent);
  font-weight: 600;
  margin: 0 5px;
}

.loginpage, .warning_page{
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginpage .card, .warning_page .card{
  background: white;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
  text-align: right;
}
.loginpage h3{
  margin-bottom: 2rem;
  text-align: center;
}
.loginpage button{
  background: var(--accent);
  color: #fff;
  border: none;
  padding: .7rem 1rem;
  margin: 0;
  margin-top: 1rem;
}
.loginpage input{
  padding: .7rem;
  width:100%;
  margin: auto;
}


.warning_page h5{
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.warning_page .btn_wrapper{
  margin-top: 2.1rem;
}
.warning_page .btn_wrapper button.delete{
  color: #fff;
  background: var(--error);
  margin-left: 2rem;
}

.side_menu{
  padding: 0;
  transition: transform .10s 0 ease-in-out, background .10s 1s;
  background: rgba(0, 0, 0, 0.18);
}
.side_menu .menu{
  width: 500px;
  max-width: 70%;
  margin-left: 0;
  overflow-x: hidden;
  background: #fff;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}
.sidemenu_close{
  transform: translateX(-400px);
  transition: transform .5s ease-in-out, background .10s;
  background: rgba(0, 0, 0, 0);
}
.menu #shop_name{
  text-transform: capitalize;
}
.menu ul{
  margin-top: 1.4rem;
  list-style: none;
  font-size: 20px;
  border-top: 0px solid var(--gray);
  padding: 0 1rem;
}
.menu li{
  padding: 1rem;
  border-bottom: 0px solid var(--gray);
}
.menu li.active{
  background: #F1F1F1;
  border-radius: 10px;
}

main.purchase_mode{
  padding-top: 6rem;
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  max-width: 100%;
}
.hint{
  transition: .4s;
  padding: .5rem 1rem;
  background: #fff;
  color: #7D8D90;
  position: fixed;
  bottom: 3rem;
  margin: auto;
  left: 15%;
  right: 15%;
  max-width: 70%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 4px 23px 0px rgba(124, 125, 135, 0.39);
-moz-box-shadow: 0px 4px 23px 0px rgba(124, 125, 135, 0.39);
box-shadow: 0px 4px 23px 0px rgba(124, 125, 135, 0.39);
-webkit-animation: hintHide .4s;
-o-animation: hintHide .4s;
animation: hint .4s;
}
@keyframes hint {
  from{
    opacity: 0;
  }
}
.hidden{
  display: none !important;
}
.hintOpacityDim{
  display: block;
  background: transparent;
  -webkit-animation: hintHide .4s;
  -o-animation: hintHide .4s;
  animation: hintHide .4s;
  opacity: 0;
}
