* {
  transition: 0.4s;
}

header li#my_ac_circle {
  height: 30px;
  width: 30px;
  background: var(--gray);
  border-radius: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  overflow: hidden;
}
#my_ac_circle img{
  height: 100%;
  width: 100%;
  border-radius: 400px;
  object-fit: cover;
}

a {
  color: var(--black);
}

main {
  padding: 0 !important;
}

.profile_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card button.chat {
  margin: 0 0 0 0;
  padding: 0.3rem 0.7rem;
  font-weight: 500;
}

.card:active {
  background: var(--gray);
}

.card {
  border: 1px solid var(--gray);
  padding: 1rem;
}

p.user_desc {
  margin-top: 1rem;
  font-size: 16px;
}

.card .profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.dp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.dp-big {
  height: 130px;
  width: 130px;
}

p.small {
  font-size: 10px;
}

.careerP {
  margin-top: 0.3rem;
}

p.gray {
  color: var(--gray-dark);
}

i.loading {
  text-align: center;
  display: block;
}

.closeElem {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transform: translateX(100%);
}

.openElem {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transform: translateX(0);
}

.openElemUp {
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: var(--shadow);
}

.closeElemDown {
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transform: translateY(100%);
}

.profile_page {
  padding: 1rem;
  background: var(--bg);
  box-shadow: var(--shadow);
  background: #f3f3f3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.description {
  margin-top: 2rem;
  font-weight: 500;
}

.btn_wrapper {
  margin-top: 2rem;
}

button.message {
  border: 1px solid var(--accent);
  background: var(--bg);
  color: var(--accent);
  font-weight: 700;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.message:active {
  color: #fff;
}

section.myProfile {
  margin: 0 0 0 0;
}

section#usersList {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  overflow-y: auto;
  height: calc(100vh - 100px);
}

section.myProfile .profCard {
  transition: all 0.4s ease-out;
  overflow: hidden;
  padding: 1rem;
  border-radius: 10px;
  background: var(--bg);
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  box-shadow: var(--shadow);
  height: 0%;
}

section.myProfile.openElemUp .profCard {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.24);
  width: 90%;
  height: 90dvh;
}

.profCard nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i.z180 {
  transform: rotateY(180deg);
}

.profCard .center {
  flex-direction: column;
  gap: 0.7rem;
}

.profCard input.my_name {
  border: none;
  padding: none;
  margin: 0 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.profCard .name_wrap {
  text-align: center;
}

.profCard p.small {
  color: var(--gray);
  margin-top: 0;
}

.profCard .description {
  border: 1px solid var(--gray);
  padding: 1rem;
  border-radius: 10px;
}

.profCard span.add {
  font-weight: 600;
  font-size: 14px;
  border-radius: 500px;
  color: var(--accent);
  display: block;
  margin-top: 2rem;
}

.tag_inp_wrap * {
  margin-top: 1rem;
}

/*flex start*/
.w-100 {
  width: 100%;
}

button:disabled {
  background: #ffb2b2;
}

.error_text {
  margin-top: 2rem;
  color: var(--accent);
  font-size: 13px;
  text-align: right;
}

.btn_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_wrap button {
  margin: 0;
}

.btn_wrap button.sign_out {
  padding: 0.5rem 2rem;
  background: var(--bg);
  color: var(--accent);
  border: 1px solid var(--accent);
}

.btn_wrap button.sign_out:active {
  background: var(--accent);
  color: var(--bg);
}
