* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: .3s;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    height: fit-content;
    overflow: hidden;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    max-width: 80%;
}

.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    min-height: 60px;
    min-width: 60px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
    margin-top: 5px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}


.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;

}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;

}


.weather {
    display: none;
}
.visible{
    display: block;
    animation: open 1s ease-in-out;
}
@keyframes open {
    0%{
        height: 0;
    }
    90%{
        height: 600px;
    }
    
}