@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}
:root{
    --black: #3a3939;
}
.container{
    max-width: 600px;
    margin: auto;
    background-color: #d8d8d8;
    height: 100dvh;
    border-radius: 1rem;
    padding: 1.8rem;
    font-size: 1rem;
    position: relative;
}
h1{
    font-size: 4.4rem;
    text-align: center;
    color: var(--black);
    cursor: default;
}

.input-box{
    display: flex;
    flex-direction: column;
}
input{
    padding: 1.4rem;
    border-radius: .7rem;
    font-size: 1rem;
    border: 1px solid #ffffff00;
    transition: .3s ease-in-out ;
}
input:focus{
    border: 1px solid #09a0ff;
}


.input-box label{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: .4rem;
    cursor: pointer;
    width: fit-content;
}
.search-box{
    margin-bottom: 2rem;
}
span.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box .delete{
    display: flex;align-items: center;
    gap: 1rem;
}

.add-box{
    position: absolute;
    
    left: 1.8rem;
    right: 1.8rem;
    bottom: 1.8rem;
    margin-top: 2rem;
}

.list-container{
    max-height: 40vh;
    overflow: scroll;

}

.list-item{
    background-color: #fff;
    margin: .2rem 0;
    border-radius: .7rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease-in-out;
}
.list-item:hover{
    background-color: #ececec;
    color: #3a3939;
}

span.delete{
    cursor: pointer;
}

